ul.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.checklist li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.2em;
    color: #333;
    transition: transform 0.3s ease;
}

ul.checklist li:hover {
    transform: translateX(10px);
}

ul.checklist input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #4caf50;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

ul.checklist input[type="checkbox"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

ul.checklist input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 7px;
}

ul.checklist input[type="checkbox"]:not(:checked) {
    background-color: #f0f0f0;
}


ul.checklist input[type="checkbox"]:not(:checked):hover {
    background-color: #f1f1f1;
}

ul.checklist input[type="checkbox"]:checked:hover {
    background-color: #45a049;
}


ul.checklist li label {
    cursor: pointer;
    font-weight: 500;
    color: #555;
    transition: color 0.3s ease;
}

ul.checklist input[type="checkbox"]:checked + label {
    color: #4caf50;
    text-decoration: line-through;
}


h1.checklist-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}
